<!-- templates/index.html -->
{% extends "layout.html" %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
{% block content %}
    <div class="content-page">
        <div class="content">
        <!-- Start Content-->
            <div class="container-fluid"> 
            <!-- start page title -->
            <div class="row">
                    <div class="col-12">
                        <div class="page-title-box"> 
                            <h4 class="page-title">Registro de Empresas</h4>
                        </div>
                    </div>
                </div><!-- end row -->     
                <!-- end page title --> 

                <!-- start dashboard content -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card-box">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                <i class="mdi mdi-block-helper mr-2"> </i>{{ messages[0]}}
                            </div>
                            {% endif %}
                            {% endwith %}
                            <div class="table-responsive">
                                <table class="table table-borderless table-hover table-centered m-0">
    
                                <thead class="thead-light">
                                    <tr>
                                        <th>Código</th>
                                        <th>Empresa</th>
                                        <th>Proveedor</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for com in companies %}
                                    <tr>
                                        <td>
                                            <i class="mdi mdi-creation text-primary"></i> {{ com.id }}
                                        </td>
        
                                        <td>
                                            <h5 class="m-0 font-weight-normal">{{ com.name }}</h5>
                                            <p class="mb-0 text-muted"><small>Termino de contrato: {{ com.end_contract }}</small></p>
                                        </td>
        
                                        <td>
                                            <i class="mdi mdi-briefcase-outline text-primary"></i> {{ com.provider }}
                                        </td>

                                        <td> 
                                            <button onclick="location.href='{{ url_for("main.edit", com_id=com.id) }}'" class="btn btn-xs btn-warning waves-effect waves-light"><i class="mdi mdi-lead-pencil"></i></button>
                                            <button onclick="location.href='{{ url_for("main.delete_company", com_id=com.id) }}'" class="btn btn-xs btn-danger waves-effect waves-light"><i class="mdi mdi-delete-outline"></i></button>
                                        </td>

                                    </tr>
                                    {% endfor %}
    
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="button-list text-right">
                            <button onclick="location.href='{{ url_for("main.register") }}'" class="btn btn-success waves-effect waves-light">
                                Registrar Empresa<span class="btn-label-right"><i class="mdi mdi-briefcase-plus-outline"></i></span>
                            </button>
                        </div>
                    </div> <!-- end col -->
                    
                </div><!-- end row -->     
                        
            </div> <!-- container -->

        </div> <!-- content -->


    </div>

    <!-- Sweet Alerts js -->
    <script src="/static/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="/static/js/pages/sweet-alerts.init.js"></script>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}
