{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
<!-- App favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.ico">

        <!-- Plugins css -->
        <link href="/static/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">


            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Editar Usuario</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <form method="POST">
                                        <div class="form-group mb-3">
                                            <label for="simpleinput">Email</label>
                                            <input type="text" id="simpleinput" name="email" class="form-control" value="{{ user.email }}">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="simpleinput">Nombre</label>
                                            <input type="text" id="simpleinput" name="name" class="form-control" value="{{ user.name }}">
                                        </div>
                                        <div class="form-group mb-3">
                                                <label for="simpleinput">Apellido</label>
                                                <input type="text" id="simpleinput" name="last_name" class="form-control" value="{{ user.last_name }}">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="example-select">Empresa</label>
                                            <select id="companies" class="form-control" name="company">
                                                <option value="-1">None</option>
                                                {%  for c in com %}
                                                <option value="{{ c.id }}">{{c.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="button-list text-right">
                                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                                Editar<span class="btn-label-right"><i class="mdi mdi-content-save-outline"></i></span>
                                            </button>
                                        </div>
                                    </form>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
                        </div><!-- end row-->        
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <script>document.getElementById('companies').value={{ user.company_id }}</script>
        <!-- Vendor js -->
        <script src="/static/js/vendor.min.js"></script>

        <!-- Plugins js-->
        <script src="/static/libs/flatpickr/flatpickr.min.js"></script>
        <script src="/static/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
        <script src="/static/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
        <script src="/static/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

        <!-- Init js-->
        <script src="/static/js/pages/form-pickers.init.js"></script>

        <!-- App js -->
        <script src="/static/js/app.min.js"></script>
        
    </body>
</html>
{% endblock %}