<!-- templates/index.html -->
{% extends "layout.html" %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
{% block content %}
    <div class="content-page">
        <div class="content">
        <!-- Start Content-->
            <div class="container-fluid"> 
            <!-- start page title -->
            <div class="row">
                    <div class="col-12">
                        <div class="page-title-box"> 
                            <h4 class="page-title">Registro de Usuarios</h4>
                        </div>
                    </div>
                </div><!-- end row -->     
                <!-- end page title --> 

                <!-- start dashboard content -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card-box">
                            <div class="table-responsive">
                                <table class="table table-borderless table-hover table-centered m-0">
    
                                <thead class="thead-light">
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Correo electrónico</th>
                                        <th>Organización</th>
                                        <th>Empresa</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <!--td style="width: 36px;">
                                            <img src="static/images/users/{{user.id}}.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                        </td>-->
        
                                        <td>
                                            <h5 class="m-0 font-weight-normal">{{ user.name }} {{ user.last_name }}</h5>
                                            {% if user.is_active %}
                                            <p class="mb-0 text-muted"><small>Activo</small></p>
                                            {% else %}
                                            <p class="mb-0 text-muted"><small>Inactivo</small></p>
                                            {% endif %}
                                        </td>
        
                                        <td>
                                            <i class="mdi mdi-email-outline text-primary"></i> {{ user.email }}
                                        </td>
        
                                        <td>
                                            {{ user.org_name}}
                                        </td>
    
                                        <td>
                                            {{ user.com_name }}
                                        </td>
                                        <td>
                                            <form action="/activate" method='POST'>
                                                <input id="userId" name="userId" type="hidden" value="{{user.id}}">
                                                {% if user.is_active %}
                                                <button type="submit" class="btn btn-success btn-xs waves-effect waves-light">Activo</button>
                                                {% else %}
                                                <button type="submit" class="btn btn-danger btn-xs waves-effect waves-light">Inactivo</button>
                                                {% endif %}
                                            </form>
                                        </td>
                                        <td>
                                                <button onclick="location.href='{{ url_for("main.edit_user", user_id=user.id) }}'" class="btn btn-xs btn-warning waves-effect waves-light"><i class="mdi mdi-lead-pencil"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
    
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="button-list text-right">
                            <button onclick="location.href='{{ url_for("main.user_signup") }}'" class="btn btn-success waves-effect waves-light">
                                Registrar Usuario<span class="btn-label-right"><i class="mdi mdi-account-plus-outline"></i></span>
                            </button>
                        </div>
                    </div> <!-- end col -->
                    
                </div><!-- end row -->     
                        
            </div> <!-- container -->

        </div> <!-- content -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

{% endblock %}
